<footer>
    <p>Make your Personal To Do List</p>
    <p>You Can also create New list buy taping into URL, then after the ".com" add "/yourList"(your list can have Any name You want)</p>
</footer>
</html>